@{
    ViewBag.Title = "About Us";
}

<h1><u> @ViewBag.Title </u></h1>

<h2>Our Story</h2>
<h4>
    <span style="font-weight:normal">
        Situated in the bustling downtown area of Singapore, the Delonix Regia encapsulates the island nation's historic charm with sleek, modernistic furnishings and decor. <br />
        <br /> The hotel provides delight to the senses with its breathtaking bird's eye view of the famed Central Business District, along with meal offerings from Michelin-starred chef, Wolfgang Puck, that will satisfy even the fussiest gastronomist. </br>
        <br /> For the more peaceful soul, visit the sanctuary that is the AtOne spa, providing natural treatments based on time-tested Chinese principles that will rejuvenate the body. Rounding out our offerings is La Galleria, which houses a curated collection of over 600 fine artworks and masterpieces from the world over.
    </span>
</h4>

<h2> Our Values & Mission</h2>
<h4>
    <span style="font-weight:normal">Delonix Regia aims to serve customers in the best way they know how: To the fullest of their capabilities in ensure that everyone enters and leaves the hotel, both happy and satisfied.</span>
</h4>
<br />