@{
    ViewBag.Title = "Contact Us";
}
<h1><u>@ViewBag.Title</u></h1>
<h2>We are located at:</h2>

<address>

    28 Yew Tee Circle<br />
    Singapore, Singapore 532028<br />
    Phone: 61234567 <br />
    Fax: 62345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Reservations@DelonixRegia.com">Reservations@DelonixRegia.com</a><br />
    <strong>Inquiries:</strong> <a href="mailto:Inquiries@DelonixRegia.com">Inquiries@DelonixRegia.com</a>
</address>

<h2>
    Our Social Media Accounts
</h2>
<h4><span style="font-weight:normal"> Follow us on our social media accounts for all the latest news and promotions from us!</span></h4>
<a href="https://www.facebook.com/DelonixRegia/">Facebook</a> <br />
<a href="https://www.twitter.com/DelonixRegia/">Twitter</a> <br />
<a href="https://www.youtube.com/DelonixRegia/">YouTube</a> <br />
<a href="https://www.instagram.com/DelonixRegia/">Instagram</a>