@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delonix Regia Hotel Management System</h1>
    <p class="lead">Homepage to one of Singapore's most prestigious hotels.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Click here to find out more about us</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Room Availability and Booking Menu</h2>
        <p>
            This button will bring you to the Room Availability and Booking menu.
        </p>
        <p><a class="btn btn-default" href="~/Rooms/Index">Room Menu</a></p>
    </div>
    <div class="col-md-4">
        <h2>HouseKeeping Menu</h2> <br />
        <p>You may create, retrieve, update or delete records from this page.</p>
        <p><a class="btn btn-default" href="~/Cleanings/Index">HouseKeeping Menu</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff Management Menu</h2>
        <p>You can create, retrieve, update, or delete Staff records on this page.</p>
        <p><a class="btn btn-default" href="~/Staffs/Index">Staff Management Menu</a></p>
    </div>
</div>